<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="{% url 'campaigns:home' %}">체험단 매칭 플랫폼</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <span class="navbar-text me-3">{{ user.name }}님</span>
                    </li>
                    {% if user.role == 'influencer' %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'proposals:my_proposals' %}">내 지원 목록</a>
                        </li>
                    {% elif user.role == 'advertiser' %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'campaigns:management' %}">체험단 관리</a>
                        </li>
                    {% endif %}
                    <li class="nav-item">
                        <form method="post" action="{% url 'users:logout' %}" class="d-inline">
                            {% csrf_token %}
                            <button type="submit" class="nav-link btn btn-link">로그아웃</button>
                        </form>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'users:login' %}">로그인</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'users:signup' %}">회원가입</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
